.hidden {
  position: absolute;
  top: auto;
  left: -999em;
  right: auto;
}
#main-wrapper {
  margin-top: 2em;
}
@media screen and (max-width: 750px) {
  #main-wrapper {
    margin-top: 0;
  }
}
.title-link {
  text-align: center;
}
textarea {
  resize: none;
}
.nav-item {
  width: 100%;
  color: red;
  display: inline !important;
  font-size: 13px;
}
.nav-item > a {
  color: #333333 !important;
}
.nav-item > a:active,
.nav-item > a:hover {
  color: #4d4d4d !important;
}
#navigation {
  margin: 4em 2em 0 0;
}
#navigation hr {
  width: 70%;
}
.image-container {
  margin-bottom: 20px;
}
#index-wrapper {
  margin-top: 60px;
}
#index-image-grid[data-columns]:before {
  content: '3 .column.size-1of3';
}
.index-img-open {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.image-container {
  display: none;
}
.column {
  float: left;
}
.size-1of3 {
  width: 22%;
  padding: 0 10px;
}
.md-overlay {
  position: fixed;
  z-index: 1999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.md-show ~ .md-overlay,
.md-modal.md-show {
  opacity: 1;
  visibility: visible;
  display: block;
}
body.modal-open {
  overflow: hidden;
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 10%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80%;
  min-width: 600px;
  height: auto;
  z-index: 2000;
  background-color: #FFF;
  outline: 1px solid rgba(125, 125, 125, 0.2);
  padding: 50px 0;
  visibility: none;
  opacity: 0;
  display: none;
}
.md-modal-close {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 1.4em;
  position: absolute;
  top: 20px;
  right: 40px;
}
.md-modal-image {
  position: relative;
  width: 60%;
  float: left;
}
.md-modal-image img {
  max-width: 80%;
  max-height: 80vh;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.md-modal-desc {
  margin-top: 40px;
  padding: 0 40px;
}
.md-modal-desc .md-modal-title {
  margin-bottom: 20px;
}
.md-modal-desc h6 {
  margin-bottom: 10px;
}
.md-modal-desc p {
  color: #666666;
  margin-top: 40px;
}
#account-wrapper-inner {
  margin-top: 4em;
}
#account-settings-panel {
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  opacity: .6;
  padding: 10px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}
.cool-button {
  display: block;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 0 21px;
  height: 39px;
  line-height: 37px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  outline: medium none;
  text-decoration: none;
}
.cool-button:hover,
.cool-button:active {
  border: 1px solid #cccccc;
  background-color: #e6e6e6;
}
.cool-button-blue,
.cool-butti:hover {
  border: 1px solid #1F98E5;
  color: #FFF;
  background-color: #37A9F2;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#59bdfc, #37a9f2);
  background-image: -moz-linear-gradient(#59bdfc, #37a9f2);
  background-image: -o-linear-gradient(#59bdfc, #37a9f2);
  background-image: linear-gradient(#59bdfc, #37a9f2);
}
#image-detail-wrapper {
  margin-top: 6em !important;
}
.image-detail-img-container {
  position: relative;
}
.image-detail-img-container img {
  max-width: 400px;
  max-height: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
}
