{% extends "base.html" %}

{% block content %}
	
<h2>Hello {{ user_details.username }}</h2>
{% if additional %}
<img src="{{ additional_info.avatar.url }}" alt="Your avatar" />
<p><strong>Your homepage: </strong>{{ additional_info.homepage }}</p>
{% endif %}


{% if not images %}
<p>No images added yet</p>
{% else %}

{% for image in images %}
<img src="{{ image.thumb.url }}" alt="{{ image.title }}" />
<h3>{{ image.title }}</h3>
{% if image.description %}
<p>{{ image.description }}</p>
{% endif %}

{% endfor %}

{% endif %}






{% endblock %}


