{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
			{{ SITE_NAME }}
			{% endblock %}
		</title>
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Web Starter Kit">

		<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
		<meta name="msapplication-TileColor" content="#3372DF">

		<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
		<!--
		<link rel="canonical" href="http://www.example.com/">
		-->

		<!-- build:css styles/components/main.min.css -->
		{% if DEBUG %}
			<link rel="stylesheet" href="{% static 'css/kube.min.css' %}" media="all">
			<link rel="stylesheet" href="{% static 'css/styles.css' %}" media="all">
			<link rel="stylesheet" href="{% static 'css/fontello.css' %}" media="all">
		{% else %}
			<link rel="stylesheet" href="{% static 'css/styles.min.css' %}" media="all">

		{% endif %}


	</head>
	<body>
		<div id="main-wrapper" class="units-row">

		{% block header %}
		<!-- Header content here  -->
		{% endblock %}

		{% block content %}
		<!--  Main content here -->
		{% endblock %}

		{% block footer %}
		<!-- Footer files here  -->
		{% endblock %}

		{% block js %}
		<!-- Javascript files -->
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		{% if DEBUG %}
			<script src="//localhost:35729/livereload.js"></script>
			<script src="{% static 'bower_components/mustache/mustache.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
		{% else %}
			<script src="{% static 'js/main.min.js' %}"></script>
		{% endif %}
		{% endblock %}

	</div>







	</body>
</html>
