{% extends "base.html" %}

{% block content %}

<!-- Image detail  -->

<a href="{% url 'index' %}"> <h1 class="title-link">Sunflower</h1> </a>
<div id="image-detail-wrapper" class="unit-80 unit-centered">

	<div class="units-row">

		<div class="image-detail-img-container unit-60">
			<figure class="units-row">
				<img src="{{ image.img.url }}" alt="{{ image.title }}">
			</figure>

		</div>
		<div class="image-detail-img-description unit-40">
			<h2 >{{ image.title }}</h2>
			<p><small>Uploaded : {{ image.date_added }}</small></p>
			<form class="img-description-form forms" action="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Save</button>
			</form>

		</div>

	</div>

</div>


{% endblock %}


