{% extends "base.html" %}
{% load static %}

{% block title %}
{{ SITE_NAME }} - Index
{% endblock %}


{% block header %}
{% include "partials/navbar.html" %}
{% endblock %}


{% block content %}
<!-- Index page  -->
<div id="index-wrapper">

	<div id="index-image-grid" data-columns>
	</div>

	<div class="md-modal" tabindex="-1">
	</div>
	<div class="md-overlay"></div>

</div>

{% endblock %}

{% block js %}
{{ block.super }}

	<script src="{% static 'bower_components/salvattore/dist/salvattore.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>

{% endblock %}




