{% extends "base.html" %}

{% block title %}
{{ SITE_NAME }} - Index
{% endblock %}


{% block header %}
{% include "partials/navbar.html" %}
{% endblock %}


{% block content %}
<!-- Index page  -->

{% if images %}
<div id="index-images-list" class="unit-100">

		<ul class="blocks-5">
		{% for image in images %}
		<li>
		
		<div class="picture-frame">
			<a href="{% url 'image_detail' pk=image.pk  %}"><img src="{{ image.thumb.url }}" alt="{{ image.title }}" /></a>
		</div>
		</li>

		{% endfor %}
		
		
		</ul>


		{% else %}

		<h3>No pictures uploaded yet</h3>

	</div>

	{% endif %}



</div>


{% endblock %}


