// Styles related to account view

#account-wrapper-inner {
	margin-top: 4em;
}

#account-settings-panel {
	background-color: @black-10;
	border: 1px solid @black-20;
	opacity: .6;
	padding: 10px;
	.delicate-shadow();
	margin-bottom: 2em;

}
#account-info-image-list {
}

.cool-button {
	.btn-cool()
}

.cool-button-blue,
.cool-butti:hover {
	.btn-cool-blue()
}

