// Styles related to image detail view


#image-detail-wrapper {
	margin-top: 6em !important;
}

.image-detail-img-container {
	position: relative;

	img {
		max-width: 400px;
		max-height: 400px;
		padding: 20px;
		border: 1px solid @black-20;
		left: 50%;
		.translateX(-50%);
		position: relative;
}


}
