// Styles related to index
.nav-item {
	width: 100%;
	color: red;
	display: inline !important;
	font-size: 13px;
	& > a {
		color: @black-80 !important;
		&:active,
	    &:hover	{
			color: @black-70 !important;
}
	}
}

#navigation {
	margin: 4em 2em 0 0;
	hr {
		width: 70%;
}
}

.image-container {
	margin-bottom: 20px;
}

#index-wrapper {
	margin-top: 60px;
}
#index-image-grid[data-columns]:before {
	content: '3 .column.size-1of3';
}
.index-img-open {
	 display: block;
	 height: 100%;
	 width: 100%;
	 z-index: 999;
}

.image-container {
	  display: none;
}

.column {
   	float: left;
  }

.size-1of3 {
   	width: 22%;
	padding: 0 10px;
 }

