// Styles related to index
.nav-item {
	width: 100%;
	color: red;
	display: inline !important;
	font-size: 13px;
	& > a {
		color: @black-80 !important;
		&:active,
	    &:hover	{
			color: @black-70 !important;
}
	}
}

#navigation {
	margin: 4em 2em 0 0;
	hr {
		width: 70%;
}
}

#index-images-list{
	padding-top: 4em;
}
