// General styles 

#main-wrapper {
	margin-top: 2em;
	@media screen and (max-width: @sm){
		margin-top: 0;
}
}

.title-link {
	text-align: center;
	text-decoration: none !important;
	&:hover h1 {
		color: @black-70;
}
}

textarea {
	resize: none;
}

.size-1of4{
	width: 25%;
}

.column {
	float: left;
}

#image-confirm-delete {
	position: relative !important;
	top: 50%;
	.translateY(-50%);
	height: 100px;

}
