{% extends "base.html" %}

{% block title %}
{{ user.username }} - Account 
{% endblock %}



{% block content %}

<div id="account-wrapper" class="unit-80 unit-centered">
		<h1 class="title-link">Sunflower</h1>

	<div id="account-wrapper-inner" class="units-row">


		<h2>Hello {{ user_details.username }}</h2>
		<div id="account-settings-panel" class="unit-60">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		{% if additional %}
		<img src="{{ additional_info.avatar.url }}" alt="Your avatar" />
		<p><strong>Your homepage: </strong>{{ additional_info.homepage }}</p>
		{% endif %}


		{% if not images %}
		<p>No images added yet</p>
		{% else %}

		{% for image in images %}
		<img src="{{ image.thumb.url }}" alt="{{ image.title }}" />
		<h3>{{ image.title }}</h3>
		{% if image.description %}
		<p>{{ image.description }}</p>
		{% endif %}
		<a href="{% url 'image_delete' pk=image.pk %}">Delete</a>

		{% endfor %}

		{% endif %}

	</div>

</div>







{% endblock %}


