{% extends "base.html" %}
{% load static %}

{% block title %}
{{ user.username }} - Account
{% endblock %}



{% block content %}

<div id="account-wrapper" class="unit-80 unit-centered">
	<a href="{% url 'index' %}" class="title-link"><h1>Sunflower</h1></a>
	<div id="account-wrapper-inner" class="units-row">
		{% if additional_info %}
		<div id="account-settings-panel" class="unit-40 ">
			<h2>Hello {{ user.username }}</h2>
			<br />
			<form class="forms" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ additional_info.errors }}
				<label for="avatar" id="account-avatar">
					Your portrait </br>
					{% if additional_info.avatar.url %}
					<img src="{{ additional_info.avatar.url }}" alt="Your avatar"  />
					{{ additional_info.avatar.url }}
					{% endif %}
					{{ additional_info.avatar }}
				</label>
				<hr align="left" width="300px"/>

				<label for="homepage">
					Homepage
					{{ additional_info.homepage }}
				</label>
				<input type="hidden" id="user_hidden" name="user_hidden" value="{{ user.pk }}">
				<button type="submit" class="cool-btn cool-btn-blue">Submit</button>
			</form>
		</div>
		{% endif %}

		<div id="account-info-image-list" class="unit-50 " data-columns>
		</div>

	</div>

</div>

{% endblock %}

{% block js %}
{{ block.super }}

{% if DEBUG %}

	<script src="{% static 'bower_components/salvattore/dist/salvattore.js' %}"></script>
	<script src="{% static 'js/account.js' %}"></script>

{% else %}
<script src="{% static 'js/account.min.js' %}"></script>
{% endif %}


{% endblock %}


