{% extends "base.html" %}

{% block title %}
{{ SITE_NAME }} - Create account
{% endblock %}



{% block content %}
<!-- Create account view  -->
<div id="create-account-form" class="unit-25 unit-centered">

	<form action="" method="post" enctype="multipart/form-data" class="forms">
		<h2>Create account</h2>
		{% csrf_token %}
		{% for non_field_error in form.non_field_errors %}
		<span class="error">{{ non_field_error }}</span>
		{% endfor %}
		<br />
		<label for="username">
			Username <span class="req">*</span>
			{% if form.username.errors %}
			<br />
			{% for error in form.username.errors %}
			<span class="error">{{ error }}</span>
			{% endfor %}
			{% endif %}
			{{ form.username }}
		</label>

		<label for="password">
			Password <span class="req">*</span>
			{% if form.password.errors %}
			<br />
			{% for error in form.password.errors %}
			<span class="error">{{ error }}</span>
			{% endfor %}
			{% endif %}
			{{ form.password }}
		</label>

		<label for="password2">
			Repeat password <span class="req">*</span>
			{% if form.password2.errors %}
			<br />
			{% for error in form.password2.errors %}
			<span class="error">{{ error }}</span>
			{% endfor %}
			{% endif %}
			{{ form.password2 }}
		</label>

		<button type="submit" class="cool-btn cool-btn-blue btn">Submit</button>
		<input type="button" value="Cancel" class="cool-btn btn" onClick="javascript:history.go(-1)"/>
	</form>

</div>
	


{% endblock %}


