{% extends "base.html" %}

{% block title %}
{{ user.username }} - Account
{% endblock %}



{% block content %}

<div id="account-wrapper" class="unit-80 unit-centered">
	<a href="{% url 'index' %}"> <h1 class="title-link">Sunflower</h1> </a>
	<div id="account-wrapper-inner" class="units-row">
		<h2>Hello {{ user.username }}</h2>
		{% if additional_info %}
		<div id="account-settings-panel" class="unit-60 well unit-centered">
			<form class="forms" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ additional_info.errors }}
				<label for="avatar">
					Portrait
					{% if additional_info.avatar.url %}
					<img src="{{ additional_info.avatar.url }}" alt="Your avatar"  />
					{{ additional_info.avatar.url }}
					{% endif %}
					{{ additional_info.avatar }}
				</label>

				<label for="homepage">
					Homepage
					{{ additional_info.homepage }}
				</label>
				<button type="submit">Submit</button>
			</form>
		</div>
		{% endif %}

		{% if not images %}
		<p>No images added yet</p>
		{% else %}
		<h2>Your images</h2>
		<div id="account-info-image-list" class="unit-90 unit-centered">
			<ul id="account-info-image-wrapper" class="blocks-5">
				{% for image in images %}
				<li>
				<a href="{% url 'image_detail' pk=image.pk  %}">
					<img src="{{ image.thumb.url }}" alt="{{ image.title }}" />
				</a>
				</li>
				{% endfor %}
			</ul>

		</div>
		{% endif %}

	</div>

</div>







{% endblock %}
