{% extends "base.html" %}

{% block title %}
{{ SITE_NAME }} - Login
{% endblock %}



{% block content %}

<div id="login-form" class="unit-20 unit-centered" >
<h2 class="text-center color-gray-light">Login</h2>
	
<form action="" method="post" class="forms">
	{% csrf_token %}
	<label for="username">
	Username <span class="forms-desc"> {{ form.username.help_text }} </span>
	{{ form.username }}
	</label>

	<label for="password">
		Pasword
		<span class="forms-desc">{{ form.password.help_text }}</span>
	{{ form.password }}
   	</label>
	<p>
		<button type="submit" class="cool-btn">Submit</button>
	</p>
</form>

</div>

{% endblock %}



