{% extends "base.html" %}

{% block title %}
Create account
{% endblock %}



{% block content %}
	
	<form action="" method="post">
		{% csrf_token %}
		{{ form.errors }}
		<h2>Create account</h2>
		<label for="username_id">{{ form.username.label_tag }}</label>
		<p>{{ form.username.errors }}</p>
		{{ form.username }}
	<label for="password_id">{{ form.password.label_tag }}</label>
		<p>{{ form.password.errors }}</p>
		{{ form.password }}

		<label for="password2">{{ form.password2.label_tag }}</label>
		<p>{{ form.password2.errors }}</p>
		{{ form.password2 }}

		<label for="">{{ extended_form.homepage.label_tag }}</label>
		{{ extended_form.homepage }}

		<button type="submit">Submit</button>
	</form>


{% endblock %}


